<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <title>CC-Number</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script id="iban-js" src="iban.js"></script>
    <!--this is where custom styles will be loaded-->
    <style id="customStyles"></style>
</head>

<body>
<script>
    document.getElementById('iban-js').addEventListener('load', addInputHtmlToDom());

    window.onload = function() {
        document.getElementById('iban').addEventListener('animationstart', handleAutofill, false);
        document.addEventListener('focus', function() {document.getElementById('iban').focus()}, false);
    };
</script>
</body>
</html>