<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <title>Gift Card PIN</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script id="giftcardpin-js" src="giftcard-pin.js"></script>
    <!--this is where custom styles will be loaded-->
    <style id="customStyles">
        body {
            background: transparent
        }
    </style>
</head>

<body>
<script>
    document.getElementById('giftcardpin-js').addEventListener('load', addInputHtmlToDom());

    window.onload = function() {
        document.getElementById('giftcardpin').addEventListener('animationstart', handleAutofill, false);
    };
</script>
</body>
</html>