<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>Paypal</title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <script src="https://www.paypalobjects.com/api/checkout.js"></script>
    </head>

    <body>
        <script src="./paypal.js" ></script>
        <script>
          addInputHtmlToDom();

          const target = document.querySelector('#paypal');

          const config = { attributes: true, childList: true, characterData: true };
          // create an observer instance to watch for paypal to load the button and update div heights
          const observer = new MutationObserver(function(mutations) {
              mutations.forEach(function(mutation) {
                  if(mutation.type === 'childList' && document.querySelector('.paypal-button.paypal-button-context-iframe') !== null) {
                      observer.observe(document.querySelector('.paypal-button.paypal-button-context-iframe'), config);
                  } else if (mutation.type === 'attributes') {
                      if(mutation.attributeName === 'style') {
                          const newHeight = mutation.target[mutation.attributeName].height;
                          resizeIframe(newHeight)
                      }
                  }
              });
          });

          observer.observe(target, config);

        </script>
    </body>

</html>