<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8" />
  <title>Dynamic Field</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script id="component-script" src="dynamic-field.js"></script>
  <style type="text/css" >
    textarea {
      width: 100%;
      height: 100%;
      border: none;
      background: transparent;
      outline: none;
    }
    textarea:focus {
      outline: none !important;
    }
  </style>
  <style id="customStyles">
    body {
      background: transparent
    }
  </style>
</head>
<body>
</body>
</html>