<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <title>Component</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <script id="cc-cvv-js" src="cc-cvv.js"></script>
  <!--this is where custom styles will be loaded-->
  <style id="customStyles"></style>
</head>

<body>
  <script>
    document.getElementById('cc-cvv-js').addEventListener('load', addInputHtmlToDom());

    window.onload = function() {
      document.getElementById('ccCVV').addEventListener('animationstart', handleAutofill, false);
      document.addEventListener('focus', function() {document.getElementById('ccCVV').focus()}, false);
    };
  </script>
</body>
</html>